#List {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-row-gap: 10px;
}

#List > div {
    background-color: #323232;
    text-align: center;
    border-radius: 10px;
    user-select: none;
}